@use '../../../styles/variables';
@use '../../../styles/mixins';
@use '../../../styles/colors';

.color-controls {
  grid-template-columns: 1.5rem auto;
  margin-top: 1.25rem;
  grid-gap: 1rem;
  display: grid;
}

.color-preview {
  @include mixins.transition(background-color);
  background-color: var(--color);
  border-radius: 999px;
  margin-top: 0.55rem;
  aspect-ratio: 1;
}

.color-inputs {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.25rem;
  display: grid;
}

.color-input {
  background-color: colors.get-color(background);
  color: colors.get-color(text);
  -moz-appearance: textfield;
  padding: 0.75rem 0.5rem;
  text-align: center;
  font-size: 1rem;
  outline: none;
  border: none;
  width: 3rem;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  .input-group:first-child & {
    border-bottom-left-radius: variables.$page-radius;
    border-top-left-radius: variables.$page-radius;
  }

  .input-group:last-child & {
    border-bottom-right-radius: variables.$page-radius;
    border-top-right-radius: variables.$page-radius;
  }
}

.input-group {
  color: colors.get-color(alt-text);
  flex-direction: column;
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.save {
  background-color: colors.get-color(primary);
  border-radius: variables.$page-radius;
  color: colors.get-color(page);
  padding: 0.75rem 1rem;
  grid-column: span 2;
  font-weight: bold;
  cursor: pointer;
  border: none;
}
