@use '../../styles/colors';
@use '../../styles/mixins';

.text {
  color: colors.get-color(text);

  &__primary {
    color: colors.get-color(primary);
  }

  &__alt {
    color: colors.get-color(alt-text);
  }

  &__size {
    &-lg {
      font-size: 1.1rem;
    }

    &-md {
      font-size: 0.925rem;
    }

    &-sm {
      font-size: 0.85rem;
    }

    &-xs {
      font-size: 0.75rem;
    }
  }

  &__link {
    @include mixins.transition(color);

    &:hover,
    &:focus {
      color: colors.get-color(text);
    }

    &:active {
      color: colors.get-color(primary);
    }
  }
}
