@use '../../styles/colors';

.text {
  &__primary {
    color: colors.get-color(primary);
  }

  &__alt {
    color: colors.get-color(alt-text);
  }

  &__size {
    &-lg {
      font-size: 1.1rem;
    }

    &-md {
      font-size: 0.925rem;
    }

    &-sm {
      font-size: 0.85rem;
    }

    &-xs {
      font-size: 0.75rem;
    }
  }
}
